# template for default rsyslog rules
#

#
# First some standard log files.  Log by facility.
#
auth,authpriv.*			/var/log/auth.log
*.*;auth,authpriv.none		-/var/log/syslog
#cron.*				/var/log/cron.log
#daemon.*			-/var/log/daemon.log
kern.*				-/var/log/kern.log
#lpr.*				-/var/log/lpr.log
mail.*				-/var/log/mail.log
#user.*				-/var/log/user.log

#
# Logging for the mail system.  Split it up so that
# it is easy to write scripts to parse these files.
#
#mail.info			-/var/log/mail.info
#mail.warn			-/var/log/mail.warn
mail.err			/var/log/mail.err

news.crit			/var/log/news/news.crit
news.err			/var/log/news/news.err
news.notice			-/var/log/news/news.notice

*.emerg                                :omusrmsg:*

{# log to remote location if remote syslog is provided from cmdline #}
{# don't setup the remote logging on the actual remote server node #}

{% if rsyslog_server is defined and rsyslog_server != ansible_hostname %}

# log to remote server
*.*	@{{ rsyslog_server }}
{% endif %}

